.vs/
/.vs/
.vs/*
/.vs/*
*/Debug/
*/Release/
*/x64
*/obj/
*.obj
*.ilk
*/*/Debug
*/*/Release
Debug/
Release/
*.lib
cmake-build-debug/
cmake-build-release/
cmake-build-minsizerel/
.idea/
*.p7s
*.targets
*.nupkg

packages/minhook.1.3.3/lib/native/include/MinHook.h